appdirs
certifi
click
cloudpickle
cycler
dask
decorator
Flask~=1.1.2
gunicorn
itsdangerous
Jinja2
MarkupSafe
matplotlib~=3.3.4
networkx
numpy~=1.20.1
olefile
opencv-contrib-python
packaging
Pillow
pyparsing
python-dateutil
pytz
PyWavelets
scikit-image
scipy
six
toolz
Werkzeug~=1.0.1
pandas~=1.2.3
seaborn~=0.11.1
scikit-learn~=0.24.1