{% extends "_base.html" %}

{% block content %}

<div class="header">
  <h1 class="title">SEARCH BY IMAGE</h1>
</div>
<hr />

<div class="display">
  <div class="left-pane">
    <img src="static/init-preview.png" alt="preview image" class="img-preview">
    <div id="preview-name">Preview</div>
    <div class="user-options" id="select-metric">
      <div>Choose Metric</div>
      <select id="metric">
        <!--  name=metrics, method="GET" action="/"  -->
        {% for metric in metrics %}
        <option value="{{  metric  }}" {% if metric=="chi2" %} selected {% endif %}>{{ metric }}</option>"
        {% endfor %}
      </select>
    </div>
    <div class="user-options" id="select-metric">
      <div>Choose Descriptor</div>
      <select id="descriptor">
        <!--  name=metrics, method="GET" action="/"  -->
        {% for descr in descriptors %}
        <option value="{{  descr  }}" {% if metric=="ColorHistorgram" %} selected {% endif %}>{{ descr }}</option>"
        {% endfor %}
      </select>
    </div>
    <div id="select" class="image-select">
      Select & Search
    </div>
    <div>
      <div class="user-options">
        <div>Upload Image</div>
        <form method="post" enctype="multipart/form-data" , action="/uploader">
          <input type="file" name="file" , accept=".png,.jpg,.jpeg">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>>
  </div>
  <div class="right-pane">
    <div id="results" class="search-results">
    </div>
  </div>
</div>
<!-- The Modal -->
<div id="modal" class="modal-display">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-images-list">

    </div>
  </div>

</div>

{% endblock %}